{
  "presets":  [
    "@babel/react",
    "@babel/preset-env",
    "@babel/preset-typescript"
  ],
  "plugins":[
    "react-hot-loader/babel",
    "@babel/plugin-syntax-dynamic-import"
  ]
}
